/* PROFILE */
/* 
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.name,
.job {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.name {
  font-size: 50px;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.github,
.linkedin {
  text-decoration: none;
  color: #1E1E2A;
  font-weight: 700;
  padding: 1rem 4rem;
  border: 1px solid #1E1E2A;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.linkedin:hover,
.github:hover {
  background-color: #fff;
} */

