@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');



* {
  margin: 0;
  padding: 0;

  color: #1E1E2A;

  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* HEADER */
 
.header-container {
  position: relative;

  background-color: #384653;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
} 

/* MENU HAMBURGUER */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;

  height: 100px;
  width: 100px;
  
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  cursor: pointer;

  z-index: 999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  position: absolute;

  background-color: #1E1E2A;

  width: 50px;
  height: 4px;
  border-radius: 4px;

  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */

.menu {
  position: absolute;

  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 8px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px #fff;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.list {
  list-style-type: none;
}

.list-item {  
  color: #1E1E2A;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
}

/* MENU ANIMATION */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45deg);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-45deg);
  top: 47px;
}

#toggle:checked + .checkbox {
  background-color: #fff;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax #fff;  
  z-index: 1;
}

#toggle:checked ~ .menu-items {
  visibility: visible;
  opacity: 1;
}

/* PROFILE */

.profile {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.profile-img {
  max-width: 70%;
  margin: 1rem auto 0;
}

.personal-info {
  margin: 0 auto;
}

.name,
.job {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.social-media {
  margin: 1rem 0;
  display: flex;
}

.github,
.linkedin {
  font-size: 1rem;
  text-decoration: none;
  color: #1E1E2A;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border: 1px solid #1E1E2A;
  min-width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.linkedin:hover,
.github:hover {
  background-color: #fff;
} 

/* CARDS */

.container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.projects-title {
  font-size: 1.75rem;
  padding-left: 1.125rem;
  color: #384653;
  text-transform: uppercase;
}

.projects-link {
  text-decoration: none;
  text-align: center;
}

.project1 {
  background-image: url(images/presentation.png);
}

.project2 {
  background-image: url(images/hdc-home.png);
}

.project3 {
  background-image: url(images/spotify.png);
}

.project4 {
  background-image: url(images/pokedex.png);
}

.card {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 2rem auto 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #384653;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(0.5);
  color: #1E1E2A;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 192px;
  width: 192px;
  opacity: 1;
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.check {
  color: #384653;
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card-wrapper:hover > .check {
  opacity: 1;
  visibility: visible;
  font-size: 1.25rem;
}

.card-text {
  margin: 0 1.25rem;
}

.card-title {
  font-size: 1rem;
  color: rgb(109, 109, 109);
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.card-description {
  font-size: 0.75rem;
  color: rgb(109, 109, 109);
  letter-spacing: 1px;
}

.mt5 {
  margin-top: 5rem;
}

/* FOOTER */

footer {
  width: 100%;
  height: 100px;
  background-color: #384653;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.footer-text {
  font-size: 0.75rem;
  color: #fff;
}

/* Media Querries */

@media (min-width: 768px){
  /* PROFILE */
  .profile-img {
    max-width: 50%;
    margin-top: 1rem;
  }

  .personal-info {
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {

/* PROFILE */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.name, .job {
  font-size: 2.5rem;
}

.social-media {
  margin-top: 1rem;
  display: flex;
}

.github,
.linkedin {
  text-decoration: none;
  color: #1E1E2A;
  font-weight: 700;
  padding: 1rem 4rem;
  border: 1px solid #1E1E2A;
  min-width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

/* CARDS */
.projects-title {
  font-size: 2.5rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  border: 1px solid #fff;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.check {
  color: #384653;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.card:hover {
  filter: unset;
}

.card:hover > .card-wrapper::before {
  height: 192px;
  width: 192px;
  opacity: 1;
}

.card-wrapper:hover > .check {
  opacity: 1;
  visibility: visible;
  font-size: 20px;
}

.card-text {
  width: 40%;
}

.card-title {
  font-size: 1.125rem;
}

.card-description {
  font-size: 1rem; 
}

}